
.card-img-top{
    align-self: center;
    width: fit-content;
    border-radius: 13px 13px;
    width: 100%;
    height: 200px;
    
}
.card{
    height: auto;
    border-radius: 10px 10px;
    box-shadow: 7px 4px black;
}
.display-4{
    font-style:oblique;
    text-decoration: underline;
    margin-bottom: 20px;
}

/* .List-Container{
  position: fixed;
  float: left;
  clear: both;
  width: 24%;
}
.Container-for-items{
    float: right;
    clear: both;
} */