 <div class="row">
 <div class="col-lg-4"></div>
<div class="col-lg-4">
<div class="wrapper">
<h1 class="text-center">Order History</h1>
<div class="container">
<table class="table table-dark">
<thead>
<tr>
<th>Order Id</th>
<th>Food Name</th>
<th>Food Price</th>

</tr>
</thead>
<tbody>
<tr *ngFor="let cartToken of cartItems">
    <td>{{cartToken.orderId}}</td>
    <td>{{cartToken.name}}</td>
    <td>{{cartToken.price | currency}}</td>
</tr>    


</tbody>

</table>
</div>













</div>
 
</div>

</div>