 <div class="row">
 <div class="col-lg-4"></div>
<div class="col-lg-4">
<div class="wrapper">
<h1>Order History</h1>

<table class="table table-bordered">
<thead>
<tr>
<th>Order Id</th>
<th>Order Date</th>
<th>Order Time</th>
<th>Order items</th>
<th>Order Amt</th>
</tr>
</thead>
<tbody>
<tr>
    <th ></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    
</tr>
<tr>
    <th></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    
</tr>
<tr>
    <th></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    
</tr>
<tr>
    <th></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

</tr>
<tr>
    <th></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>



</tbody>

</table>













</div>
 
</div>

</div>