<div class="container">

    <table class="table table-dark table-hover">
        <tr>
            <td colspan="1"><h1>User ID</h1></td>
            <td colspan="9" class="h1">{{id}}</td>
        </tr>
        <tr>
            <td colspan="1"><h1>Name</h1></td>
            <td colspan="9" class="h1">{{name}}</td>
        </tr>
        <tr>
            <td colspan="1"><h1>Email</h1></td>
            <td colspan="9" class="h1">{{email}}</td>
        </tr>
        <tr>
            <td colspan="1"><h1>Phone</h1></td>
            <td colspan="9" class="h1">{{phone}}</td>
        </tr>
        <tr>
            <td colspan="1"><h1>Address</h1></td>
            <td colspan="9" class="h1">{{address}}</td>
        </tr>
        <tr>
            <td colspan="1"><h1>State</h1></td>
            <td colspan="9" class="h1">{{state}}</td>
        </tr>
        <tr>
            <td colspan="1"><h1>City</h1></td>
            <td colspan="9" class="h1">{{city}}</td>
        </tr>
        <tr>
            <td colspan="1"><h1>Zip code</h1></td>
            <td colspan="9" class="h1">{{zip}}</td>
        </tr>
    </table>

</div>