<div class="Container-for-items text-center">
    <h1 class="display-4">Menu Items</h1>

    <div class="row row-cols-1 row-cols-md-3">
      
        <div class="col mb-4" *ngFor="let Food of FoodItems">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{Food.name}}</h5>
              <p class="card-text">{{Food.description}}</p>
              <p class="card-text">{{Food.price}}</p>
              <button class="btn btn-primary btn-block">Add to cart</button>
            </div>
          </div>
        </div>


      </div>
</div>
