
<!-- <div class="row">
   <div class="col-lg-4"></div> 
   <div class="col-lg-4">
    <div class="wrapper">
   <h1>Order Status</h1>
   <hr/>

   <form #orderForm="ngForm" (ngSubmit)="onSubmitHandler">
   <div class="form-group">
    <label for="">Order Id</label>
    <input type="text" name="orderid" class="form-control" 
    #orderid="ngModel"
    [(ngModel)]="orderModel.orderid"/>
      </div>

      <div class="form-group">
        <label for="">Order Time</label>
        <input type="text" name="ordertime" class="form-control" 
        #ordertime="ngModel"
        [(ngModel)]="orderModel.ordertime"/>
          </div>

    <div class="form-group">
        <label for="">Expected Time to Cook</label>
        <input type="text" name="cooktime" class="form-control" 
        #cooktime="ngModel"
        [(ngModel)]="orderModel.cooktime"/>
          </div>
          <div class="form-group">
            <label for="">Order Status</label>
            <input type="text" name="orderstatus" class="form-control" 
            #orderstatus="ngModel"
            [(ngModel)]="orderModel.orderstatus"/>
              </div>
<br/>
<h5> Thank You for Your Patience</h5>
    

</form>
    </div>
   </div>
</div> -->