.wrapper{
    background-color:aqua;
    padding:70px;
    margin-top:50px;
    margin-bottom:40px;
    border-radius:10px;
    box-shadow:10px 5px #fff;
     width: 600px; 
}
.btn{
    background-color: rgb(133, 133, 209);
    width: 50%;
    color: black;
    border: none;
     padding: 10px; 
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    
}
    a{
        text-decoration: none;
        color: blue;
    }
        input[type="text"], input[type="password"]{
            width:100%;
            border: 1px solid ;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 20px;
        }