<div class="row">
     <div class="col-lg-4"></div> 
<div class="col-lg-4">
    <div class="wrapper">
        <!-- <div class="alert alert-success" role="alert">
        {{responseMessage}}
    </div> -->
     <h1>Login </h1>
     <hr/>
     <form #loginForm="ngForm" (ngSubmit)="OnSubmitHandler(loginForm.value)" >
    <div class="form-group">
    <label for="">Email</label>
    <input type="text" name="email" class="form-control"
    required
     #email="ngModel" 
     ngModel
    [class.is-invalid]="email.touched && email.invalid"/>
 <small class="text-danger"[class.d-none]="email.untouched || email.valid">required(min 6 character)*</small>
    </div>
 <div class="form-group">
    <label for=""> Password</label>
    <input type="password" name="password"
    required minlength="6"
    #password="ngModel"
    ngModel
    [class.is-invalid]="password.touched && password.invalid"
    class="form-control"/>
    <small class="text-danger"[class.d-none]="password.untouched || password.valid">required*</small>
  </div>
 <input type="checkbox"  name="reminder" >
  <label for=""> Remember me</label><br>

  <a href="#">Forgot Password?</a>
 <br/>
 <br/>

 <input type="submit" value="Continue"
[disabled]="loginForm.invalid"
 class="btn"/>
<br/>
<a href="#">Not Registered? Create an Account</a>

     </form>

</div>
<div class="col-lg-4"></div>
</div>
