 <div class="row">
 <div class="col-lg-4"></div>
<div class="col-lg-4">
<div class="wrapper">
<h1>Order History</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Order Date</th>
            <th>Order Time</th>
            <th>Order items</th>
            <th>Order Price</th>
        </tr>
    </thead>
    <tbody>
    
        <tr><!--The tr is where the ngFor will be placed-->
            <td>0</td>
            <td>Lorem.</td>
            <td>Lorem.</td>
            <td>Lorem.</td>
            <td>Lorem.</td>
        </tr>

    </tbody>

</table>













</div>
 
</div>

</div>