
         table{

            width: 100%;
            
        } 

        thead{
            /* background-color: rgb(82, 123, 82); */
            background-color: darkred;

        }

        

        th, td{

            color: #fff;
            font-size: 20px;
            
            text-align:center;
        }
        th{
            color: #fff;
        }

        tr:nth-child(){
            background-color: #ccc
        }

        
        .wrapper{
            /* background-color:aqua; */
            background-color:whitesmoke;
             padding:70px; 
            margin-top:50px;
            margin-bottom:70px;
            border-radius:10px;
             box-shadow:6px 11px #000; 
             width: 600px; 
            }